VK Bot/__pycache__/
VK Bot/MessageBox/__pycache__/
VK Bot/Warning_Window/__pycache__
VK Bot/Authorization_Window/__pycache__/
VK Bot/Registration_Window/__pycache__/
VK Bot/Main_Window/__pycache__/
VK Bot/Main_Window/Settings_Panel_Window/__pycache__/
VK Bot/Main_Window/Settings_Panel_Window/User_Command_Panel_Widnow/__pycache__/