Admin Panel/
VK Bot/__pycache__/
VK Bot/MessageBox/__pycache__/
VK Bot/Authorization/__pycache__/
VK Bot/Bot_Panel/__pycache__/
VK Bot/Bot_Panel/Settings_Panel/__pycache__/
VK Bot/Bot_Panel/Settings_Panel/User_Command_Panel/__pycache__/
VK Bot/Registration/__pycache__/
VK Bot/Bot-Settings.json
VK Bot/User-Commands.json
VK Bot/Logs.txt